<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/public/css/about.css">
    </head>
    <body>
            <%- include header %>
            <script src="/public/js/about.js"></script>
    </body>
</html>