<html>
    <head>
        <title>Home</title>
        <link rel="stylesheet" href="/public/css/home.css">
    </head>
    <body>

        <div class='bg-img'>
        
                <div id="sidebar" >
                    <div class="toggle-btn" onclick="toggleSidebar()">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <ul>
                        <li>Home</li>
                        <li>Gallery</li>
                        <li>Bookings</li>
                        <li>Trips</li>
                        <li>Payments</li>
                        <li>Support</li>
                    </ul>
                </div>
        </div>

        
    <script src="/public/js/home.js"></script>
    </body>
</html>