<html>
    <head>
        <title>Error</title>

        <style>
            body{
                background-color:azure;
                position: relative; 
            }
            img{
                position: absolute;
                width: 50%;
                height: auto;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

            a{
                text-decoration: none;
                border: none;
                background-color: #1da1f2;
                color: white;
                border-radius: 30px;
                padding: 5px;
                width: 120px;
                font-size: 14px;
                font-weight:bolder;
                text-align: center;
                text-decoration: none;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
    
        </style>
    </head>
    <body>
            <% if (success_msg ) { %>
                <p id="flash_text"><%= success_msg %></p>
                <% } %>
        <img src="/public/Images/reg_suc_img.jpg" alt="Registration Successful!">
        <a href="/index">Login Now</a>
    </body>
</html>